.cart-icon {
  cursor: pointer;
  color: rgb(60, 127, 221);
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #fa31c8;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}