.cart-icon {
  cursor: pointer;
   color: #00c8ff;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #fa31c8;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 425px) {

  .cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
  }

  .cart-count {
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    font-size: 10px;
  }

}
