.offer-carousel {
  width: 100%;
  height: 420px;
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(135deg, #1f1f1f, #2a2a2a);
  border-radius: 20px;
  overflow: hidden;
}

.carousel-card {
  width: 70%;
  max-width: 900px;
  height: 300px;
  background: #313131;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
  position: relative;
}

.carousel-card img {
  width: 260px;
  height: 260px;
  object-fit: contain;
  background: #1f1f1f;
  border-radius: 14px;
}

.carousel-info {
  flex: 1;
}

.carousel-info h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.carousel-info .price {
  font-size: 1.4rem;
  color: #00ffae;
  margin-bottom: 10px;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.old-price {
  font-size: 1.1rem;
  color: #9a9a9a;
  text-decoration: line-through;
}

.price {
  font-size: 1.6rem;
  color: #00ffae;
  font-weight: 600;
}


.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #d603ba;
  color: #fff;
  padding: 8px 14px;
  font-size: 0.9rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
  font-size: 2rem;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  backdrop-filter: blur(4px);
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
}

.carousel-btn.left {
  left: 20px;
}

.carousel-btn.right {
  right: 20px;
}

.carousel-btn:hover {
  color: #d603ba;
  transform: translateY(-50%) scale(1.1);
}

.carousel-btn:focus,
.carousel-btn:active {
  outline: none;
  box-shadow: none;
}

.carousel-actions {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.btn-detail-link {
  text-decoration: none;
  color: #fff;
  border: 1px solid #d603ba;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-detail-link:hover {
  background: rgba(214, 3, 186, 0.1);
  box-shadow: 0 0 15px rgba(214, 3, 186, 0.4);
}

.btn-add-cart {
  background: #d603ba;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-add-cart:hover {
  background: #f804d8;
  box-shadow: 0 0 20px rgba(214, 3, 186, 0.6);
  transform: translateY(-2px);
}
