.shop-layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  padding: 40px;
  min-height: 80vh;
}

.shop {
  background-color: #313131;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin-top: 18vh;
}

.sidebar {
  background-color: #313131;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  height: fit-content;
  top: 100px;
  height: calc(100vh - 20vh);
  overflow-y: auto;   
}

.sidebar h3 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.2rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  column-gap: 1.5rem;
  row-gap: 1rem;
  padding: 0.5rem;
  height: calc(100vh - 22vh);
  overflow-y: auto;
  padding-right: 10px;  
}





