.shop-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  min-height: 80vh;
}

.div-shop {
  padding: 40px;
  background-color: #1f1f1f;
  color: #fff;
  margin: 20vh 5vw;
}

.shop-title {
  background-color: #313131;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  align-items: center;
  width: 90%;
  margin: 5vw auto 2rem auto;
}

.sidebar {
  background-color: #313131;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.sidebar h3 {
  margin-bottom: 10px;
  color: white;
  font-size: 1.2rem;
}

.products-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  column-gap: 1.5rem;
  row-gap: 1rem;
  padding-right: 10px;
}

@media (max-width: 425px) {

  .div-shop {
    padding: 40px 30px;
    margin: 15vh 3vw;
  }

  .shop-title {
    padding: 14px;
    text-align: center;
    font-size: 1.4rem;
  }

  .shop-layout {
    padding: 0;
    gap: 15px;
  }

  .sidebar {
    padding: 15px;
  }

  .sidebar h3 {
    text-align: center;
    font-size: 1.1rem;
  }

  .products-card {
    grid-template-columns: 1fr;
    padding-right: 0;
    row-gap: 1.2rem;
  }
}

