.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #313131;
  border: 1px solid #444;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 10vh;
  position: fixed;
  top: 3vh;
  width: 90%;
  z-index: 9999;

}

.logo .logoimg {
  height: 15vh;
  filter:
    drop-shadow(0 0 6px rgba(0,200,255,0.8))
    drop-shadow(0 0 12px rgba(0,200,255,0.5))
    drop-shadow(0 0 18px rgba(0,200,255,0.3))
    brightness(1.05) contrast(1.1);
}

.logoimg:hover {
  filter:
    drop-shadow(0 0 12px rgba(0,200,255,1))
    drop-shadow(0 0 24px rgba(0,200,255,0.8))
    brightness(1.2);
}


.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav a {
    color: #0ff;
  text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff;
  font-weight: bold;
  font-size: 1rem;
}

a:hover {
  color: #fff;
  text-shadow:
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 30px #0ff,
    0 0 40px #0ff,
    0 0 50px #0ff;
}
